<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.min.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="Redirect all traffic to server.min.js">
          <match url=".*" />
          <action type="Rewrite" url="server.min.js" />
        </rule>
      </rules>
    </rewrite>
    
    <iisnode node_env="production" devErrorsEnabled="true" watchedFiles="web.config;*.js"/>
  </system.webServer>
</configuration>
