<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="Redirect all traffic to server.min.js">
          <match url="*" />
          <action type="Rewrite" url="server.min.js" />
        </rule>
      </rules>
    </rewrite>
    
    <iisnode
      devErrorsEnabled="true"
      node_env="production"
      watchedFiles="web.config;*.js"
    />
  </system.webServer>
</configuration>