// * VARIABLES *
:root {
  @include default-scheme($white, $black, dark); // --bgColor, --txtColor, alt theme
  // @include default-scheme($black, $white, light);
}

// * DEFAULTS/RESETS *
*, *:before, *:after {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--bgColor);
  color: var(--txtColor);
  font-family: $body-font-family;
  font-size: $body-font-size+px;
  text-size-adjust: 100%;
  word-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  /* Page load */
  // @keyframes loadBody {
  //   100% { opacity: 1; }
  // }
  // opacity: 0;
  // animation: loadBody .2s linear forwards .1s;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
